.p_box {
    padding: 0px !important;
    margin: 0px !important;
    margin: 0px;
  }

  .search {
    margin-top: 10px;
    padding: 10px 0px 10px  2px;
  }
  .filter_container {
    background-color: #ffffff;
    color: #313131;
    margin: 1px 0 0 0;
    text-align: left;
    border-left: 1px solid #476a8d;
  }
  .filter_head {
    font-weight: bold;
    background-color: #476a8d !important;
    color: #f3f3f3 !important;
  }


.filter_button {
    background-color: #ffffff;
    color: #313131;
    margin: 1px 0 0 0;
    text-align: left;
    border-left: 1px solid #476a8d;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .filter_button:hover {
    background-color: #dce9f6;

  }