.main_box {
    flex: 1 !important;
  }

  .body_container {
    width: 90%;
    margin: auto !important;
  }
  .p_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .p_box {
    padding: 0px !important;
    margin: 0px !important;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
  }